body {
  margin: 0;
  padding-top: 30px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  background-color: #F5F5F5;
  font-family: sans-serif;
}

.link--no-outline {
  outline: none;
}