.pagination {
  display: inline-block;
  width: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 25px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.pagination__page {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

.pagination__page--active .pagination__link {
  background-color: rgb(0, 188, 212);
  color: #FFFFFF;
}

.pagination__link {
  border: 1px solid rgb(0, 188, 212);
  border-radius: 50%;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  cursor: pointer;
}

.pagination__link--btn {
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.870588);
  cursor: pointer;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.pagination__link--btn:hover {
  background-color: rgba(153, 153, 153, 0.2);
}

.pagination__link:hover {
  background-color: rgb(0, 188, 212);
  color: #FFFFFF;
}