.form-builder {
  width: 800px;
  margin: 0 auto;
}

@media all and (max-width: 960px) {
  .form-builder {
    width: auto;
  }
}

.form-builder__sections {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.form-builder__submit {
  text-align: right;
  margin-right: 45px;
}