.sub-section {
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.sub-section__title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #777;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.subsection__questions {
  margin: 0;
  padding-left: 16px;
  list-style: none;
}